body {
    box-sizing: border-box;  
    background-color:rgba(19, 4, 115, 0.8);
    color: white;
    margin: 25px;
}

#menu {
    display: flex;
    justify-content: space-evenly
}

#menu li {
    list-style: none;
    font-size: 24px;
    text-transform: uppercase;
    border: solid 1px white;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    color: rgba(228, 227, 235, 0.8);
}

#menu li:hover {
    background-color: black;
    border-color: black;
}

#menu li a {
    text-decoration: none;
}

#menu li a:hover {
    color: white;
}

#profile-img {
    width: 50%;
    border-radius: 50%;
    display: block;
    margin: auto;
}
    
.center {
    text-align: center;
}

.center-list {
    display: inline-block;
    text-align: left;
}
